<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['info']" (click)="navCurrentSelected=''">Angular Workshop</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="tasks" [ngClass]="{'active': (navCurrentSelected === 'tasks')}" (click)="makeActive($event)"><a [routerLink]="['tasks']">Tasks</a></li>
        <li id="info" [ngClass]="{'active': (navCurrentSelected === 'info')}" (click)="makeActive($event)"><a [routerLink]="['info']">Info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Some Link</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
